{% extends 'base.html.twig' %}

{% block title %} <title>Mot de passe oublié</title> {% endblock %}	

{% block body %}
<div class="row">
    <div class="container">
        <div class="block-small">
            {% for message in app.flashes('notice') %}
                <div class="alert alert-info">{{ message }}</div>
            {% endfor %}

            <form method="post">
                <h1 style="text-align: center;" class="h3 mb-3 font-weight-normal mt-5">Réinitialiser mon mot de passe</h1>
                <div class="contact__form">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="inputEmail">Votre email</label>
                            <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Votre adresse email" required autofocus>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                         <a href="{{app.request.headers.get('referer')}}" class="primary-btn pc-btn btn-block mt-3" style="^pptext-align:center;">Retour</a> 
                    </div>
                    <div class="col-md-10">
                        <button class="btn primary-btn pc-btn btn-block mt-3" type="submit">Valider</button>
                    </div>
                </div>
                <hr>
                <p class="text-center">Ou souhaitez-vous <a href="{{ path('login') }}">vous connecter</a> ?</p>
            </form>
        </div>
    </div>    
</div> 
{% endblock %}
