@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@0;1&display=swap');

.cta-primary-1 { background-color: #398A98; border: #398A98 solid 2px; color: #fff !important; width:120px; min-height: 40px; border-radius: 10px}
