{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Accueil {% endblock %}
{% block body %}
    <h1>Bonjour</h1>
    {% if app.user %}
        <a href="{{ path('app_logout') }}">Se déconnecter</a>
    {% else %}
        <a href="{{ path('login') }}">Se connecter</a>
    {% endif %}
{% endblock %}